.selected_answer {
    outline: 1px solid rgb(50, 50, 50);
}

.correct_answer {
    background-color: rgb(59, 188, 59);
}

.incorrect_answer {
    background-color: rgb(239, 68, 68);
}

// add class to paragraphs and target the element by class

p {
    width: fit-content;
    text-align: center;
    margin: .2rem auto;
    padding: .4rem 1.1rem;
}

p:hover {
    cursor: pointer;
}