.selected_answer {
    outline: 1px solid rgb(50, 50, 50);
}

.correct_answer {
    background-color: rgb(59, 188, 59);
}

.incorrect_answer {
    background-color: rgb(239, 68, 68);
}

// add class to paragraphs and target the element by class

p {
    width: fit-content;
    text-align: center;
    margin: .2rem auto;
    padding: .4rem 1.1rem;
}

p:hover {
    cursor: pointer;
}

.question__text {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 10%;
    margin-bottom: 5%;
}

.answers__container {
    display: grid;
    place-self: center;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    gap: .5rem;

    &__answer__wrapper {
        width: 100%;
        border: 1px solid rgb(2, 38, 82);
    }
}

.submit__btn {
    all: unset;
    cursor: pointer;
    font-size: .9rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: .1rem;
    background-color: black;
    color: white;
    transition: background-color .3s, color .3s;

    &:hover {
        background-color: white;
        color: black;
        transition: background-color .3s, color .3s;
    }
}