.header {
    border-bottom: .1px solid rgb(27, 27, 27);
    padding: 2rem;
    background-color: rgb(248, 247, 224);
    position: sticky;
    top: 0;
    left: 0;

    &__logo {
        font-family: "Limelight", sans-serif;
        color: rgb(23, 22, 22);
    }
}