.header {
    border-bottom: .1px solid rgb(164, 209, 169);
    padding: 2rem;
    background-color: rgb(222, 252, 209);
    position: sticky;
    top: 0;
    left: 0;

    &__logo {
        font-family: "Limelight", sans-serif;
        color: rgb(12, 12, 12);
    }
}