:root[data-theme="dark"] {
    --bg-color: rgb(31, 29, 29);
    --text-color-primary: white;
    --text-color-secondary: rgb(194, 192, 192);
    
    // .submit_btn
    --submit-btn-border-color: white;
    --submit-btn-onhover-bg-color: rgb(246, 246, 246);
    --submit-btn-onhover-text-color: rgb(13, 13, 13);

    // .asnwer_container cell
    --answer-cell-bg-color: white;
    --answer-cell-text-color: black;
}

:root[data-theme="light"] {
    --bg-color: white;
    --text-color-primary: black;
    --text-color-secondary: rgb(31, 30, 30);
    
    // .submit_btn
    --submit-btn-border-color: black;
    --submit-btn-onhover-bg-color: rgb(17, 17, 17);
    --submit-btn-onhover-text-color: rgb(255, 255, 255);

    // .answer_container cell
    --answer-cell-bg-color: black;
    --answer-cell-text-color: white;
}

::view-transition-old(root) {
    animation-delay: 400ms;
}

::view-transition-new(root) {
    animation: move-in 400ms;
}

@keyframes move-in {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0);
    }
}

.app__container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    gap: 3rem;
    background-color: var(--bg-color);
}

// SHARED STYLES

.submit__btn {
    all: unset;
    cursor: pointer;
    font-size: .9rem;
    padding: .5rem 1rem;
    // margin-top: 1rem;
    border: 1px solid var(--submit-btn-border-color);
    border-radius: .1rem;
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    transition: background-color .3s, color .3s;

    &:hover {
        background-color: var(--submit-btn-onhover-bg-color);
        color: var(--submit-btn-onhover-text-color);
        transition: background-color .3s, color .3s;
    }
}