:root[data-theme="dark"] {
    --bg-color: white;
    --text--color: black;
}

:root[data-theme="light"] {
    --bg-color: black;
    --text--color: white;
}

.app__container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    gap: 3rem;

    background-color: var(--bg-color);
}

