.questions__counter__container {
    &::after {
        content: '';
        width: 20px;
        height: 50px;
        background-color: black;
        // color: var(--text-color-primary);
    }

    &__text {
        text-align: end;
        font-size: .7rem;
        color: var(--text-color-secondary);

        &__currentQuestion,
        &__totalQuestions {
            font-size: .99rem;
            color: var(--text-color-primary);
            padding: 0 .2rem;
        }
    }
}