.answer__feedback__container {
    opacity: 0;
}

.answer__feedback__container__submitted {
    opacity: 1;
    transition: opacity .7s;
}

.answer__feedback__text {
    font-size: 1.2rem;
    font-weight: 100;
    // margin: 3rem;
    text-align: center;

    &__correct__answer {
        display: block;
        font-size: .9rem;
        font-weight: 400;
        color: rgb(1, 32, 1);
        padding: .3rem .7rem;
        border-radius: .1rem;
        margin: .2rem;
    }
}