.submit__btn {
    all: unset;
    cursor: pointer;
    border: 1px solid black;
    padding: .5rem 1rem;
    font-size: .9rem;
    border-radius: .1rem;
    background-color: black;
    color: white;
    transition: background-color .3s, color .3s;

    &:hover {
        background-color: white;
        color: black;
        transition: background-color .3s, color .3s;
    }
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: .5rem;

    &__form__field {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &__label {
            font-size: .8rem;
            color: rgb(71, 71, 71);
        }
    }

    & input[type="submit"] {
        margin: 50px;
    }
}