.submit_btn {
    all: unset;
    cursor: pointer;
    border: 1px solid black;
    padding: .5rem 1rem;
    font-size: .9rem;
    border-radius: .1rem;
    background-color: black;
    color: white;
    transition: background-color .3s, color .3s;

    &:hover {
        background-color: white;
        color: black;
        transition: background-color .3s, color .3s;
    }
}