.form__container {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__form__field {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60%;
        margin: 0 auto;
        gap: .5rem;

        &__label {
            font-size: .8rem;
            color: rgb(71, 71, 71);
            align-self: start;
        }

        &__error__message {
            // no styles needed for now but will keep class just in case
            // adding inline-block without really needing it
            display: inline-block;
        }
    }

    & input[type="submit"] {
        margin: 50px;
        align-self: center;
    }
}