.footer__container {
    background-color: black;
    width: 100vw;
    margin-top: auto;
    padding: 3rem;
    text-align: center;

    &__text {
        font-size: .8rem;
        color: white;
    }
}